{% extends 'base.html' %}
{% load static %}

{% block title %}
- Compete
{% endblock title %}

{% block body_block %}
<div class="container" style="padding-top:2.5cm;">
  <div class="page-header">
      <h1><i class="fa fa-shield"></i> Aakash<small> Competitions</small>
      </h1>
  </div>
		<h3>Aakash Software Development competition</h3>

		  <p>List* of students awarded certificate for Aakash
		  Software Development competition, organized by Indian
		  Institute of Technology Bombay between 5 May 2013 to
		  15 August 2013.</p>
		  <table class="table table-responsive table-bordered table-hover table-striped">
		    <tr>
		      <td><strong>Sr. No.</strong></td>
		      <td><strong>Name</strong></td>
		      <td><strong>Certificate Code</strong></td>
		    </tr>
		    <tr><td >1</td><td >Alok Joshi</td><td >AA2013391</td></tr>
		    <tr><td >2</td><td >Deep Shah</td><td >AA20131091</td></tr>
		    <tr><td >3</td><td >Dharmendra Hingu</td><td >AA20131093</td></tr>
		    <tr><td >4</td><td >Dildarkhan Pathan</td><td >AA20131141</td></tr>
		    <tr><td >5</td><td >Godly Alias</td><td >AA2013991</td></tr>
		    <tr><td >6</td><td >Harsh Kevadia</td><td >AA201343</td></tr>
		    <tr><td >7</td><td >Jitendra Jain</td><td >AA20131092</td></tr>
		    <tr><td >8</td><td >John John</td><td >AA2013992</td></tr>
		    <tr><td >9</td><td >M Prakash</td><td >AA2013913</td></tr>
		    <tr><td >10</td><td >Piyush Patel</td><td >AA201344</td></tr>
		    <tr><td >11</td><td >Prathamesh Karve</td><td >AA2013392</td></tr>
		    <tr><td >12</td><td >Pratik Nalawade</td><td >AA2013393</td></tr>
		    <tr><td >13</td><td >Rahul Dadoriya</td><td >AA2013381</td></tr>
		    <tr><td >14</td><td >Rahul Kalkani</td><td >AA201342</td></tr>
		    <tr><td >15</td><td >Roneet Shaw</td><td >AA2013491</td></tr>
		    <tr><td >16</td><td >Saurabh Singh</td><td >AA2013382</td></tr>
		    <tr><td >17</td><td >U V Swathi</td><td >AA2013912</td></tr>
		    <tr><td >18</td><td >Vipin Yadav</td><td >AA2013383</td></tr>
		    <tr><td >19</td><td >Vishal Bhingaradiya</td><td >AA201341</td></tr>
		    <tr><td >20</td><td >V J Shamily</td><td >AA2013911</td></tr>
		    </table>
</br></br>
		<h3>Aakash Android Application Programming Workshop for Students 2013</h3>

		  <p>List of top 4 projects overall for the contest
		 of Aakash Android Application Programming Workshop for Students 2013 organized by Indian
		  Institute of Technology Bombay.</p>
		  <table class="table table-responsive table-bordered table-hover table-striped">
		    <tr>
		      <td><strong>Sr. No.</strong></td>
		      <td><strong>Name</strong></td>
		      <td><strong>College Name</strong></td>
		      <td><strong>Project Name</strong></td>
		    </tr>
		    <tr><td >1</td><td >Godly .T. Alias</td><td >National Institute Of Technology, Calicut</td><td>GTAcampus</td></tr>
		    <tr><td >2</td><td >Roneet kumar shaw</td><td>Techno India, Salt Lake Kolkata</td><td>DataStructure</td></tr>
		    <tr><td >3</td><td >Nikhil Bhirud</td><td >Dr. D.Y. Patil Institute Of Engineering & Technology, Pimpri</td><td>Do U Know?</td></tr>
		    <tr><td >4</td><td >Jigar Mehta</td><td >K. J. Somaiya College Of Engineering, Vidyavihar,Mumbai</td><td>SmartKIds</td></tr>
		    </table>
		</div>  
</div>
{% endblock body_block %}
