{% extends 'base.html' %}
{% load static %}

{% block body_block %}
    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
	<li data-target="#myCarousel" data-slide-to="3"></li>
      </ol>
      <div class="carousel-inner">
        <div class="item active">
          <img src="{% static 'images/img1.jpg' %}" alt="First slide">
        </div>
        <div class="item">
          <img src="{% static 'images/img2.jpg' %}" alt="Second slide">
        </div>
        <div class="item">
          <img src="{% static 'images/img3.jpg' %}" alt="Third slide">
        </div>
	<div class="item">
          <img src="{% static 'images/img4.jpg' %}" alt="Forth slide">
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div><!-- /.carousel -->
<div class="container" >
<div class = "row well well-lg">
Aakash Tablet is an Android-based tablet computers promoted by Government of India as part of an initiative to link 25,000 colleges and 400 universities in an e-learning program. Aakash tablet is part of the central government Rs 4612 crore national mission on education through information and communication technology (NMEICT), launched in 2009.</br>
The main objective of the project at IIT Bombay, is empowerment of teachers and students in engineering colleges. We have already deployment Aakash tablets in a large number of engineering colleges in the country, with two objectives.
The first is to test and enhance the effectiveness of these tablets for use in a classroom environment.
The second is the development of new educational applications and contents on Aakash, largely through final year R&D projects done by BE/ME students. <a href="http://aakashlabs.org/media/pubs/Aakash_Status_2013_07_18.pdf" target="_blank">Read more...</a>
</div>
</div>

{% endblock body_block %}
